.DS_Store

# Packaging related files
chat_analyzer.egg-info/
build/
dist/
dist_old/

# Docs has a build folder, do don't wanna ignore that!
!docs/build/


# Local/Demo output and other assorted files
do-not-package/
localtestJSON/

# TODO: Ensure we don't break anything by ignoring .vscode/
.vscode/
__pycache__/