.DS_Store

chat_analyzer.egg-info/

do-not-package/

localtestJSON/

# TODO: Ensure we don't break anything by ignoring .vscode/
.vscode/
__pycache__/
chat_analyzer/__pycache__/

# Local/Demo output
output/
output2/

chat-downloader-master/